nav{
    width: 100%;
   /* background: #333; */
    color:#fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px ;
    font-size: 16px;
}
.btn{
    height: 20px; 
}
.dark-nav{
    background: #4a03f1;
    transition: 0.5s;
}

.search-input {
    padding: 5px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 50px 0 0 50px;
    outline: none;
}
.search-button {
    padding: 5px 20px;
    font-size: 1rem;
    background-color: #5547d8;
    color: white;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}
  
.search-button:hover {
    background-color: #4738b8;
}
@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width: 840px){
    nav{
        padding: 15px 0 ; 
    }
    nav ul{
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
}